body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: beige; */
    background-image: url("./4.jpg");
    background-image: cover;
    background-image: no-repeat;
    background-size: auto;
}

canvas {
    box-shadow: black 20px 5px 35px;
    margin-bottom: 15px;
}

h1{
    text-align: center;
    margin-top: 1.5em;
    color: darkblue;
}

p {
    text-align: center;
    margin-top: 1.5em;
    color: black;
}