body {
    /* background-color:beige; */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

canvas {
    box-shadow: 0 5px 15px black;
    margin:15px 20px;
    justify-content: center;
    align-items: center;

}


